
  .task_list li{
    padding: .5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #efefef;
    display:flex;
    justify-content: space-between;
  }
  
  .task_list .title{
    font-weight: bold;
    color: #db4c3f;
    transition: .5s;
    font-size:1.2em;
  }
  
  .task_list .title:hover{
    color: #333;
  }
  
  .title_done{
    text-decoration: line-through;
    color:#ccc;
  }
  
  .actions{
    display: flex;
  }
  .actions i{
    font-size: 1.5em;
    margin-right: 0.6em;
    color:#333;
  }
  
  .actions i:hover{
    color:#db4c3f;
  }
  
  .actions form{
    margin:0;
  }
  
  .actions button{
    background-color: transparent;
    border:none;
    cursor:pointer;
  }
  .task_list{
    list-style: none;
    margin-top: 1em;
  }
  